/* ====== GLOBAL ====== */
:root {
    --coffee: #5C4033;
    --milk-coffee: #D2B48C;
    --purple: #A593E0;
}

/* ====== NAVBAR ====== */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}

nav ul li {
    padding: 12px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.2s ease, color 0.2s ease;
    border-radius: 16px;
}

nav ul li a:hover {
    background-color: var(--milk-coffee);
    color: #ffffff;
}

/* ====== HEADERS ====== */
h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: center;
    color: var(--purple);
}

/* ====== BUTTONS ====== */
button {
    margin: 10px auto;
    padding: 10px 20px;
    display: block;
    background-color: var(--milk-coffee);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 16px;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

button:hover {
    background-color: var(--coffee);
    color: #ffffff;
    transform: scale(1.05);
}

/* ====== INPUTS ====== */
input {
    margin: 10px auto;
    display: block;
    padding: 10px;
    background-color: #F5F5F5;
    color: black;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 1.1em;
}

/* ====== BUTTON ROW ====== */
button#startButton, button#stopButton, button#generateScaleBtn {
    display: inline-block;
}

div#scaleButtons, div#chordButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div#scaleButtons button, div#chordButtons button {
    margin: 10px;
}

/* ====== CARD ELEMENTS ====== */
#chordOutput, #scaleOutput, #playlists, #playlistCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
